// $pricing-plan-border: 1px solid $white-ter !default
// $pricing-plan-border-radius: $radius !default
// $pricing-plan-active-shadow: 0 8px 12px 0 rgba($grey, 0.2) !default
$pricing-plan-active-transform: scale(1.02)
// $pricing-header-background: $white !default
// $pricing-item-background: $white-ter !default
$pricing-item-border: 2px solid $mono-gray-3
// $pricing-item-color: $grey !default
// $pricing-price-background: white !default

.container-pricetable
  .section
    padding: 2rem 1.5rem !important

.plan-toggle-container
  display: inline-block
  border: 1px solid $mono-gray-2
  border-radius: 10px
  padding: 0
  .plan-toggle
    display: inline-block
    padding: 4px 12px
    color: #a4a4a5
    font-size: .95rem
    background: #fff

    &.is-active
      background: #e7edf3
      border-radius: 10px
      color: #6d6d6d
      font-weight: bold
      transition: background .5s ease-in-out
      // box-shadow: inset 0 0 20px rgba(35,100,170,0.33)
    &:first-child
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px
    &:last-child
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px

.container-pricetable
  // display: flex
  flex-direction: column
  .toggle-plan-onetime,
  .toggle-plan-annually
    // visibility: visible
    // opacity: 1
    // order: 1
    // transition: all .5s ease-in-out
    &.is-hidden
      display: none !important
      // visibility: hidden
      // opacity: 0
      // order: 2
      // transition: all .5s ease-in-out  

.pricing-table
  background: #ffffff
  &.is-comparative
    .pricing-plan
      position: relative
      border: $pricing-item-border
      &:last-of-type
        border-right: 2px solid initial
      &:not(.is-active),
      &:not(.is-features)
        z-index: 0
        &:hover
          border: 2px solid $success
          transform: $pricing-plan-active-transform
          z-index: 2
          transition: transform .5s ease-in
          &.is-mono-gray-3
            border-color: $mono-gray-3
          &.is-popin-blue-af
            border-color: $popin-blue-af         
          &.is-popin-blue-md
            border-color: $popin-blue-md
          &.is-popin-med-af
            border-color: $popin-med-af
      &.is-features
        border: 2px solid transparent
        width: max-content
        &:hover
          transform: none
          border-color: transparent
        .plan-item
          text-align: left !important
      &.is-active
        transform: $pricing-plan-active-transform
        z-index: 1
        &.is-success
          border-color: $success
        

  .pricing-plan
    border: 1px solid $mono-gray-2
    &.is-features
      border: transparent

    .plan-item
      padding-top: .25em
      padding-bottom: .25em
      &.is-highlighted
        background-color: rgba(0,0,0,0.15)

    .plan-price
      .plan-price-amount
        font-size: 2rem
        .plan-price-currency
          margin-left: -1em

.plan-toggle
  cursor: pointer